<div class="card-container">
    <div class="card" style="width: auto;">
        <div class="d-flex flex-row align-items-center">
            <!-- Foto del profesor -->
            <img class="card-img-left"
                [src]="classData?.teacher?.photo ? 'data:image/jpeg;base64,' + classData.teacher.photo : '/assets/foto/logo2.png'"
                alt="Teacher Photo">
            <!-- Contenido de la tarjeta -->
        <!-- Contenido de la tarjeta -->
        <div class="card-body">
            <h3><strong>Profesor:</strong> {{ classData?.teacher?.name || 'No especificado' }}</h3>
            <div class="rating">
                <p><strong>Promedio de Evaluación:</strong>
                    <ng-container *ngIf="getStarArray().length > 0; else noRatings">
                        <span *ngFor="let star of getStarArray()" style="color: yellow;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path
                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                        </span>
                    </ng-container>
                    <ng-template #noRatings>No hay valoraciones disponibles</ng-template>
                </p>
                <h5><strong> precio de la Clase:</strong> {{ classData.price || 'No especificada' }}€</h5>
            </div>
            <h5><strong>Categoría:</strong> {{ classData.category || 'No especificada' }}</h5>
            <h5><strong>Tipo:</strong> {{ classData?.type || 'No especificado' }}</h5>
            <h5><strong>Localidad:</strong> {{ classData.localidad || 'No especificada' }}</h5>
            <h5><strong>Duración:</strong> {{ classData.duration || 'No especificada' }}h</h5>
            <h5><strong>Descripción:</strong> {{ (classData.description || 'No especificada').slice(0, 40) }}{{
                (classData.description && classData.description.length > 40) ? '...' : '' }}</h5>
        </div>
        <!-- Dentro del componente `ClassCardComponentComponent` -->
        <div class="video-modal" *ngIf="isVideoModalOpen">
            <div class="video-container">
                <video controls>
                    <source [src]="videoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <button class="btn btn-close" (click)="closeVideoModal()">Cerrar</button>
            </div>
        </div>


        </div><br>
        <!-- Botones -->
        <div class="d-flex flex-column">
        <button class="btn btn-info mb-2" (click)="playVideo()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z" />
        </svg>Ver Video</button>
            <button class="btn btn-secondary" (click)="expandCard()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>Leer más</button>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="button-container-small">
                <button *ngIf="isProfileView" class="btn btn-danger" (click)="confirmDelete()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                </svg>Eliminar</button>
            </div>
            <div class="button-container-small">
                <button *ngIf="isProfileView" class="btn btn-primary" (click)="toggleEditForm()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                </svg>Modificar</button>
            </div>
        </div>
    </div>
</div>

<!-- Formulario de edición -->
<div class="card" style="width: auto;" *ngIf="isEditing">
    <app-edit-form [classData]="classData" [classId]="classId"></app-edit-form>
</div>

<div class="card" style="width: auto;" *ngIf="isExpanded">
    <app-class-expansion [classData]="classData" (closePopupEvent)="closePopup()"></app-class-expansion>
</div>