<div class="mailbox-container">
    <h2 class="mailbox-title">Bandeja de Peticiones para las clases</h2>

    <!-- Menú de filtros -->
    <div class="filter-menu">
        <h2>Filtrar por estado de la petición:</h2>
        <!-- Botones de filtro con clases específicas para cada estado -->
        <button class="filter-button accepted" (click)="filterByStatus('Aceptada')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-paper-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M6.5 9.5 3 7.5v-6A1.5 1.5 0 0 1 4.5 0h7A1.5 1.5 0 0 1 13 1.5v6l-3.5 2L8 8.75zM1.059 3.635 2 3.133v3.753L0 5.713V5.4a2 2 0 0 1 1.059-1.765M16 5.713l-2 1.173V3.133l.941.502A2 2 0 0 1 16 5.4zm0 1.16-5.693 3.337L16 13.372v-6.5Zm-8 3.199 7.941 4.412A2 2 0 0 1 14 16H2a2 2 0 0 1-1.941-1.516zm-8 3.3 5.693-3.162L0 6.873v6.5Z" />
        </svg>Aceptadas</button>
        <button class="filter-button denied" (click)="filterByStatus('Denegada')"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-slash"
            viewBox="0 0 16 16">
            <path
                d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z" />
            <path
                d="M14.975 10.025a3.5 3.5 0 1 0-4.95 4.95 3.5 3.5 0 0 0 4.95-4.95m-4.243.707a2.5 2.5 0 0 1 3.147-.318l-3.465 3.465a2.5 2.5 0 0 1 .318-3.147m.39 3.854 3.464-3.465a2.501 2.501 0 0 1-3.465 3.465Z" />
        </svg>Denegadas</button>
        <button class="filter-button pending" (click)="filterByStatus('Pendiente')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mailbox"
            viewBox="0 0 16 16">
            <path
                d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3m0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4m2.646 1A4 4 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3z" />
            <path
                d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0" />
        </svg>En espera</button>   
    </div>

    <div class="petitions-container">
        <!-- Pasar las peticiones al componente PetitionListComponent -->
        <app-petition-list [petitions]="petitions"></app-petition-list>
    </div>
 
    <hr>
    <p class="mailbox-info">
        Gracias por utilizar nuestro servicio. Aquí puedes gestionar las peticiones enviadas.
    </p>
</div>